/_build/
/.elixir_ls/
/.git/
/assets/vendor/
/config/
/cover/
/deps/
/doc/
/lib/
/priv/
/rel/
/test/
/.credo.exs
/.dialyzer_ignore.exs
/.dockerignore
/.env.sample
/.formatter.exs
/.gitignore
/.erl_crash.dump
