<PhxToolsComponents.os_landing_card
  operating_system={@operating_system}
  live_action={@live_action}
>
  <:installation_command>
    <%= installation_command() %>
  </:installation_command>
</PhxToolsComponents.os_landing_card>
