<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <SeoMetaTagComponent.seo_meta_tags attributes={assigns[:seo_attributes]} />
    <.live_title>
      <%= assigns[:page_title] || "PhxTools" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      data-domain={PhxToolsWeb.Endpoint.host()}
      src="https://plausible.io/js/script.js"
    >
    </script>
  </head>

  <body class="font-montserrat bg-[#110B33]">
    <div class="relative flex items-center justify-center lg:mb-[22px] md:mb-[33px] sm:mb-[35px] mt-[5%] px-[30%]">
      <.link target="_blank" href="https://optimum.ba">
        <SharedComponents.optimum_logo />
      </.link>
    </div>

    <%= @inner_content %>
  </body>
</html>
