name: PR closure
on:
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  delete_preview_app:
    name: Delete preview app
    runs-on: ubuntu-latest
    concurrency:
      group: pr-${{ github.event.number }}
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      REPO_NAME: phx_tools
    steps:
      - uses: actions/checkout@v2
      - name: Delete preview app
        uses: almirsarajcic/fly-pr-review-apps@remote-builder
        with:
          name: pr-${{ github.event.number }}-phx-tools
      - name: Generate token
        uses: navikt/github-app-token-generator@v1.1.1
        id: generate_token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
      - name: Delete GitHub environment
        uses: strumwolf/delete-deployment-environment@v2.2.3
        with:
          token: ${{ steps.generate_token.outputs.token  }}
          environment: pr-${{ github.event.number }}-phx-tools
          ref: ${{ github.head_ref }}
